
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.class
*.ear
*.jar
*.war
.classpath
.mtj.tmp/
.project
.settings
/.mvn/
/bin/
/logs/
/mvn/
/target/
hs_err_pid*
